.profile__picture-container {
    margin-right: 35px;
    width: 120px;
    height: 120px;
    position: relative;

}


@media screen and (max-width: 480px) {
    .profile__picture-container {
        margin-right: 0;
    }
}