@import url('./_text/form__input_text_title.css');
@import url('./_text/form__input_text_subtitle.css');

.form__input {
    padding-bottom: 13px;
    margin-bottom: 30px;
    max-width: 358px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 570px) {
    .form__input {
        max-width: 238px;
    }
}