/*PAGE*/
.page {
    margin: auto;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
    .page {
        margin: 28px 20px 0 20px;
    }
}

@media screen and (max-width: 375px) {
    .page {
        margin: 28px 0 0 0;
    }
}


/*HEADER*/
.header {
    max-width: 882px;
    box-sizing: border-box;
    width: 100%;
    margin: 45px auto 40px;
    border-bottom: 1px solid #545454;
    opacity: .7;
}

@media screen and (max-width: 375px) {
    .header {
        margin: 28px 0 38px;
    }
}

/*HEADER LOGO*/
.header__logo {
    margin: 0 auto 40px;
}
@media screen and (max-width: 1024px) {
    .header__logo {
        padding: 48px 0;

    }
}
@media screen and (max-width: 375px) {
    .header__logo {
        width: 126px;
        height: 24px;
        margin-left: 27px;
        margin-bottom: 32px;
        padding: 0;
    }
}

